@charset "utf-8";
/*---------media query css----------------*/	
@media (max-width:1540px) {
.header-logo img {
    max-width: 230px;
}
.header-logo:after {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 180px solid #f58020;
    top: -17px;
    left: -87px;
}
.header-links ul a.btn {
    font-size: 16px;
}
.header-links ul a {
    font-size: 16px;
}
.header-links ul li {
    margin-left: 10px;
    min-width: 80px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
p {
    margin-bottom: 1rem;
}
body {
    font-size: 18px;
}
input, select, optgroup, textarea {
    width: 85%;
    font-size: 14px;
}
.banner-caption p {
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-caption .btn {
    margin-left: 12%;
    padding: 10px 15px;
}
.btn {
    font-size: 16px;
}
.section-banner {
    min-height: 530px;
}
.service-list figcaption {
    font-size: 16px;
}
.grey-bg {
    padding: 2.5rem 0;
}
.grey-bg p {
    font-size: 16px;
}
.section-news li {
    width: 28%;
}
.section-kitchen-team .row {
    padding-top: 0;
}
.section-kitchen-team .row p {
    font-size: 16px;
    line-height: 1.2;
}
.section-kitchen-team h3 {
    margin-bottom: 15px;
}
.section-news {
    padding: 1rem 0 1rem;
}
.section-news .grey-bg {
    padding: 3rem 0 6rem;
}
.section-footer {
    padding: 3.5rem 0 0;
}
.section-footer h4 {
    margin-bottom: 30px;
}
.section-footer .foo-large {
    font-size: 18px;
}
.section-footer p {
    font-size: 16px;
    margin-bottom: 15px;
     text-shadow: -2px 2px 5px #000000;
}
.copyright p {
    text-shadow: none;
}
.copyright p {
    margin-bottom: 0;
}
.header-logo {
    margin-top: -56px;
}
}
/*------------tablet landscape view------*/
@media (max-width:1200px) {
.header-links {
    padding: 10px 0;
    min-height: 80px;
}
.header-logo {
    margin-left: 60px;
}
.header-logo img {
    max-width: 165px;
}
.header-logo:after {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid #f58020;
    top: -20px;
    left: -70px;
}
.section-banner {
    margin-top: -80px;
}
.header-links ul a.btn {
    font-size: 14px;
}
.btn {
    font-size: 14px;
    padding: 8px 10px;
    min-width: 130px;
}
.service-list figcaption {
    font-size: 12px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 18px;
}
body {
    font-size: 16px;
}
.who-we-help h2, .section-news h2 {
    padding: 5px 16px;
}
.grey-bg {
    padding: 1.5rem 0;
}
.who-we-help {
    padding: 20px 0;
}
.grey-bg p {
    line-height: 1.2;
}
}
/*------------tablet portrait  view------*/
@media (max-width:1024px) {

}
@media (max-width:991px) {
.header-links ul a.btn {
    font-size: 12px;
    min-width: auto;
    padding: 5px 6px;
}
.header-links ul li {
    margin-left: 5px;
    min-width: 65px;
}
.header-links ul a {
    font-size: 12px;
}
.header-logo {
    margin-left: 25px;
    margin-top: -80px;
}
.contact-detail ul {
    margin-right: 0;
}
.contact-detail li > a, .contact-detail li {
    font-size: 13px;
}
.header-logo img {
    max-width: 130px;
}
.header-logo:after {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 115px solid #f58020;
    top: -9px;
    left: -35px;
}
.header-links {
    min-height: 70px;
}
.section-banner {
    margin-top: -70px;
}
.section-banner {
    min-height: 400px;
}
}
/*---------mobile landscape  view--------*/
@media (max-width:767px) {
nav {
    background: transparent;
}
.header-links ul li {
    margin-left: 0;
}
.header-links ul a.btn {
    width: 120px;
    margin: auto;
}
.banner-caption {
    z-index: 1;
}
.service-list li {
    width: 25%;
}
.service-list {
    justify-content: flex-start;
    flex-wrap: wrap;
}
.section-services {
    padding: 45px 0 20px;
}
.section-news li {
    width: 32%;
}
.order1 {
    order: 1;
}
.order3 {
    order: 3;
    margin-top: 30px;
}
.order2 {
    order: 2;
}
input, select, optgroup, textarea {
    padding: 5px 15px;
    line-height: 1.2;
    margin-bottom: 5px;
}
textarea {
    min-height: 65px;
}
input.btn {
    min-width: auto;
    width: auto;
    font-size: 13px;
    padding: 5px 15px;
}
.section-footer h4 {
    margin-bottom: 15px;
}
.section-footer {
    padding: 2.5rem 0 0;
}
.section-footer p {
    margin-bottom: 10px;
}
.copyright p {
    margin-bottom: 0;
}
.contact-detail li > a, .contact-detail li {
    font-size: 11px;
}
.contact-detail .social-links {
    margin-left: 2%;
}
.menu-icon.active .menu-box {
    top: -70px;
    margin: 0;
}
}
/*------------mobile portrait view-------*/
@media (max-width:640px) {
.contact-detail ul {
    margin-right: 0;
    margin-left: auto;
    max-width: 130px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.contact-detail li {
    margin-left:  0;
    margin-bottom: 5px;
}
.contact-detail .social-links a {
    margin-left: 0;
    margin-right: 5px;
}
.contact-detail li > a {
    margin-left:  0;
}
.contact-detail .social-links {
    margin-left: 0;
}
.header-logo {
    margin-top: -177px;
}
h1 {
    font-size: 32px;
}
.banner-caption p {
    font-size: 16px;
    margin-bottom: 20px;
}
.banner-caption .btn {
    margin-left: 0%;
    padding: 10px 15px;
}
.section-banner {
    min-height: 320px;
}
.section-news li {
    width: 39%;
}
.section-news .position-top {
    top: -20px;
}
.section-news .position-right {
    top: 80px;
}
.order2 {
    text-align: center;
    margin-top: 30px;
}
}
/*--------------optional css-------------*/
@media (max-width:480px) {
.contact-detail ul {
    max-width: 118px;
}
.header-logo {
    margin-left: 18px;
}
.header-logo img {
    max-width: 100px;
}
.header-logo:after {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 100px solid #f58020;
    top: -14px;
    left: -32px;
}
}
/*---------use only when design is customise-----------*/
@media screen and (min-width:700px) and (max-width:990px){
	
}
